/*OVERALL STYLE*/

html, body {
	height: 100%;

	background: url(../images/bg3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face { font-family: Bebas Neue; src: url('../fonts/BebasNeue.otf'); }

h1, h2, h3, button {
	font-family: 'Oswald', sans-serif;
}

h4, h5, h6, p, td, a{
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.4em;
}

.section-header {
	text-align: center;
	font-size: 2.5em;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*NAVIGATION BAR*/

.navbar {
	padding: 0 20px 0 20px;

	background-color: #2F3440;
	border: 0;
}


/*HOME SECTION*/

#home {
	padding: 100px 0 50px 0;

	color:white;

	display: block;
	min-height:100%;
	min-width:100%;
	max-height: 200%;

	background-color: rgba(0,0,0, 0.5)


}

#home h1 {
	font-weight: 700;
	font-size: 6em;
}

#home h3 {
	font-size: 2em;
}

.main-content {
	padding-top: 5%;
}

.home-section-btn {
	text-align: center;
	padding-top: 6%;
	font-size: 100;
}

.ghost-button {
	color: white;
	background: transparent;
	border: 1px solid white;
	font-weight: bold;
	margin: 6px 0;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: 6px 10px;
	font-size: 1.5em;
	line-height: 1.428571429;
	border-radius: 30px;
}

.ghost-button:hover, .ghost-button:active {
	color: gray;
	background: white;
	border: 1px solid transparent;
}

/*JUDGES SECTION*/
#judges {
	padding-bottom: 50px;

	background-color: #3F5666;
	color: white;
}

#judges img {
	max-height: 150px;
	max-width: 150px;
}

.shark-image {
	text-align: center;
}


/*LOGISTICS SECTION*/

#logistics {
	background: url(../images/bg2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/*padding-bottom: 50px;*/
}

.logistics-container {
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 50px;
}

#logistics h2 {
	color: white;
}

.boxed {
	background-color: rgba(255, 255, 255, 0.5)
}

.zui-table {
	margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.zui-table tbody td {
    border: solid 1px #DDEEEE;
    padding: 10px;
}
.zui-table-rounded {
	width: 100%;
    border: none;
    margin-bottom:12px;
}


.zui-table-rounded tbody tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}
.zui-table-rounded tbody tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}
.zui-table-rounded tbody td {
    border: none;
    background-color: rgba(255, 255, 255, 0.5)

}

.zui-table-rounded tbody tr:first-child {
	border-bottom: thin solid;
}
.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.zui-table-rounded tbody tr td:first-child {
	width: 31%;
}

/*APPLICATION SECTION*/
#apply {
	padding-bottom: 50px;
	color:white;

	background-color: #3F5666;
}

.application-btn {
	text-align: center;
}

.apply-button {
	margin-top: 5px;
	margin-bottom: 5px;

	font-size: 1.7em;
	padding: 20px;
}

#apply p, a {
	text-align: center;
}

/*CONTACT US*/